
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   font-weight: normal;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section{
   display: block;
 }
 ol, ul, li{
   list-style: none;
 }
 blockquote, q{
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after{
   content: '';
   content: none;
 }
 table{
   border-collapse: collapse;
   border-spacing: 0;
 }
  
 /* custom */
 a{
   color: #7e8c8d;
   text-decoration: none;
   -webkit-backface-visibility: hidden;
 }
 ::-webkit-scrollbar{
   width: 5px;
   height: 5px;
 }
 ::-webkit-scrollbar-track-piece{
   background-color: rgba(0, 0, 0, 0.2);
   -webkit-border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:vertical{
   height: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb:horizontal{
   width: 5px;
   background-color: rgba(125, 125, 125, 0.7);
   -webkit-border-radius: 6px;
 }
 html, body{
   width: 100%;
   font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑", sans-serif;
 }
 body{
   line-height: 1;
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 html{
   overflow-y: scroll;
 }
  
 /*清除浮动*/
 .clearfix:before,
 .clearfix:after{
   content: " ";
   display: inline-block;
   height: 0;
   clear: both;
   visibility: hidden;
 }
 .clearfix{
   *zoom: 1;
 }
  
 /*隐藏*/
 .dn{
   display: none;
 }
body{
    background:url('../imgs/background.png') no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh);
}
.header{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    float: left;
    margin-top: 20px;
}
.icon{
    float: left;
}
.icon img{
    width: 200px;
    height: 30px;
    margin-top: 35px;
}
.nav{
    float: left;
    width: 46%;
    margin-left: 10%;
    color: white;
    font-size: 18px;
    line-height: 100px;
    margin-left: 30%;
}
.nav ul li{
    float: left;
    margin-left: 40px;
}
.nav ul li:last-child{
    float: left;
    margin-left: 70px;
}
.btn-info{
    background-color: #00A0EA;
    margin-top: 34px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    
}
.title{
  font-size: 40px;
  color: white;
  float: left;
  width: 50%;
  height: 10%;
  margin-left: 30%;
  margin-top: 2%;
}
.body{
  width: 80%;
  height: 100px;
  float: left;
  margin-top: 8%;
  margin-left: 10%;
}
.index{
  margin-left: 20%;
}
.index .form-group{
  width: 20%;
  float: left;
  margin-left: 2%;
}
.imgX{
  float: left;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.imgK{
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
label{
  float: left;
  color: white;
  margin-bottom:10px;
}
.start_local{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  float: left;
  color: #AFAFAF;
}
.type{
  float: left;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  color: #AFAFAF;
}
.money{
  background-color: #00A0EA;
    border-radius: 10px;
    width: 60%;
    height: 40px;
    font-size: 14px;
    float: left;
    margin-left: 10px;
    color: white;
    margin-top: 26px;
}
#bg{ 
  display: none; 
  position: absolute;  
  top: 0%;  
  left: 0%;  
  width: 100%;  
  height: 100%; 
  z-index:1001;  
  -moz-opacity: 0.7;  
  filter: alpha(opacity=70);} 

  #show{    
    display: none;
    position: absolute;  
    top: 6%;  
    left: 35%;  
    width: 30%;  
    height: 90%;  
    padding: 20px;  
    border: 1px solid #E8E9F7;  
    background-color: white;  
    z-index:1002;  
    overflow: auto;
    border-radius: 6px;
  } 
  .biaodan{
    margin-top: 70px;
  }
  .form-group small{
    color: red;line-height: 30px;
  }
  .row small{
    color: red;line-height: 30px;
  }